<h2 id="title">BPM_ember_client</h2>

{{input type='text' value=query}}
<button class="btn btn-default" {{action 'search'}}>Search</button>
<ul>
  <li>{{link-to 'Home' 'collection'}}</li>
  <li>{{link-to 'Albums' 'albums'}}</li>
  <li>{{link-to 'Artists' 'artists'}}</li>
</ul>

<hr>

{{outlet}}
